<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Changer</title>
</head>
<body>
    <h1 style="text-align: center;">Welcome to Text-Utils</h1>
    <form action="/mainFunc", method="GET">
        <textarea name="text" id="" cols="30" rows="10" style="margin: 0px; width: 1514px; height: 263px;"></textarea>
        <div class="container">
            <input type="checkbox" name="removePunctuation">Remove Punctuation <br>
            <input type="checkbox" name="makeAllCapital">Make All Capital <br>
            <input type="checkbox" name="makeAllSmall">Make All Small <br>
        </div>
        <button type="submit">Submit</button>
    </form>

</body>
</html>